<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klasse Objekt EJS Training</title>
</head>
<body>
    <h2>Rechteck</h2>
    <p>Breite: <%= breite %> </p>
    <p>Laenge: <%= laenge %> </p>
    <hr>
    <h2>Schüler</h2>
    <p>Geschlecht: <%= geschlecht %></p>
    <p>Vorname: <%= vorname %></p>
    <p>Alter: <%= alter %></p>
    <h2>Spieler</h2>
    <p>Spielername: <%= spielername %></p>
    <p>Trikotnummer: <%= trikotnummer %></p>
    <p>Verein: <%= verein %></p>
    <p>Poition: <%= position %></p>
    <p>Nationalitaet: <%= nationalitaet %></p>
</body>
</html>
